<!DOCTYPE html>
<html lang="en_US">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
{{{body}}}

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script language="JavaScript" src="/javascripts/bookmarks.js"></script>
</body>
</html>


<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDnjv-CP7x1ID7QnAFQKb_Sf8Yxcb7gaV0",
        authDomain: "my-project-a14b0.firebaseapp.com",
        databaseURL: "https://my-project-a14b0.firebaseio.com",
        projectId: "my-project-a14b0",
        storageBucket: "my-project-a14b0.appspot.com",
        messagingSenderId: "600890283185"
    };
    firebase.initializeApp(config);
</script>